In [29]:
import pandas as pd
import numpy as np
train_op=pd.read_csv(r"D:\DA_competition\DC\data\operation_train.csv")
train_tag=pd.read_csv(r"D:\DA_competition\DC\data\tag_train.csv")
train_tr=pd.read_csv(r"D:\DA_competition\DC\data\transaction_train.csv")

#表连接
train_op=pd.merge(train_op,train_tag,on="UID",how="left")
train_op=train_op.drop_duplicates()
train_tr=pd.merge(train_tr,train_tag,on="UID",how="left")
train_tr=train_tr.drop_duplicates()

test_op=pd.read_csv(r"D:\DA_competition\DC\data\operation_test.csv")
test_tr=pd.read_csv(r"D:\DA_competition\DC\data\transaction_test.csv")
test_op=test_op.drop_duplicates()
test_tr=test_tr.drop_duplicates()

#处理时间
train_op["hour"]=train_op.time.apply(lambda x:x.split(":")[0])
train_tr["hour"]=train_tr.time.apply(lambda x:x.split(":")[0])
test_op["hour"]=test_op.time.apply(lambda x:x.split(":")[0])
test_tr["hour"]=test_tr.time.apply(lambda x:x.split(":")[0])

D:\developsoft\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
train_fts=pd.DataFrame(pd.concat([train_op.UID,train_tr.UID],axis=0).unique())
train_fts.columns=["UID"]
train_fts.sort_values("UID",inplace=True)
test_fts=pd.read_csv(r"D:\DA_competition\DC\data\sub_sample.csv")
test_fts=test_fts.drop("Tag",axis=1)
test_fts
#31198

         UID
0      30000
1      30001
2      30002
3      30003
4      30004
5      30005
6      30006
7      30007
8      30008
9      30009
10     30010
11     30011
12     30012
13     30013
14     30014
15     30015
16     30016
17     30017
18     30018
19     30019
20     30020
21     30021
22     30022
23     30023
24     30024
25     30025
26     30026
27     30027
28     30028
29     30029
...      ...
31168  87734
31169  87735
31170  87736
31171  87737
31172  87738
31173  87739
31174  87740
31175  87741
31176  87742
31177  87743
31178  87744
31179  87745
31180  87746
31181  87747
31182  87748
31183  87749
31184  87750
31185  87751
31186  87752
31187  87753
31188  87754
31189  87755
31190  87756
31191  87757
31192  87758
31193  87759
31194  87760
31195  87761
31196  87762
31197  87763

[31198 rows x 1 columns]

In [39]:
#operation表
#1、UID对应mode,success,os,version:cross_type
#transaction表
#1、UID对应channel、amt_src1、trans_type1、amt_src2、trans_type2、market_type：cross_type
op_fields1=["mode","success","os","version"]
tr_fields1=["channel","amt_src1","trans_type1","amt_src2","trans_type2","market_type"]
def get_discrete_fts1(data,fields):
    data_one_hot=pd.get_dummies(data[fields].applymap(str),dummy_na=True)
    data_one_hot["UID"]=data["UID"]
    fts_cross_type=data_one_hot.groupby("UID").sum().reset_index(drop=False)
    print("=====OK======")
    return fts_cross_type

In [32]:
#operation表
# 2.1、UID对应day、time、mode、success、os、version、device1、device2、geo_code种类数
# 2.2、UID对应device_code1、2、3、mac1、2、wifi、ip1、ip2、ip1_sub、ip2_sub种类数
#transaction表
# 2.1、UID对应channel,day,time,amt_src1,amt_src2,merchant,code1,code2,trans_type1,trans_type2,device1,device2,geo_code,market_code,market_type种类数
# 2.2、UID对应ip1、ip1_sub、acc_id1、acc_id2、acc_id3、device_code1、2、3、mac1数
op_fields2=["day","hour","mode","success","os","version","device1","device2",
           "geo_code","device_code1","device_code2","device_code3","mac1",
           "mac2","wifi","ip1","ip2","ip1_sub","ip2_sub"]
tr_fields2=["channel","day","hour","amt_src1","amt_src2","merchant","code1",
           "code2","trans_type1","trans_type2","device1","device2","geo_code","market_code",
           "market_type","ip1","ip1_sub","acc_id1","acc_id2","acc_id3","device_code1",
           "device_code2","device_code3","mac1"]
def get_kinds_fts2(data,fields):
    fts=data.groupby("UID")[fields].apply(lambda x:x.apply(lambda y:len(y.unique()))).reset_index(drop=False)
    print("=====OK======")
    return fts

In [33]:
#operation表
# 3.1、UID的device_code1、2、3、mac1、2、wifi、ip1、ip2、ip1_sub、ip2_sub对应的用户数量均值、最大值、最小值（因为一个UID可能对应多个连续字段）
# 3.2、UID的device_code1、2、3、mac1、2、wifi、ip1、ip2、ip1_sub、ip2_sub对应的用户羊毛党概率占比均值、最大值、最小值
#transaction表
# 3.1、UID对应ip1、ip1_sub、acc_id1、acc_id2、acc_id3、device_code1、2、3、mac1对应的用户数量均值、最大值、最小值（因为一个UID可能对应多个连续字段）
# 3.2、UID对应ip1、ip1_sub、acc_id1、acc_id2、acc_id3、device_code1、2、3、mac1对应的用户羊毛党概率占比均值、最大值、最小值
op_fields3=["device_code1","device_code2","device_code3","mac1","mac2","wifi","ip1","ip2","ip1_sub","ip2_sub"]
tr_fields3=["ip1","ip1_sub","acc_id1","acc_id2","acc_id3","device_code1","device_code2","device_code3","mac1"]
# def get_fields_as_key_fts(data,fields):
#     fts_all=pd.DataFrame(data["UID"].unique())
#     fts_all.columns=["UID"]
#     for field in fields:
        
#         d=data[["UID",field,"Tag"]].drop_duplicates().fillna(0).groupby(field)
#         f_count=d.Tag.count()
#         count_1=d.Tag.apply(lambda x:len(x[x==1]))
        
#         df=pd.merge(pd.DataFrame(f_count),pd.DataFrame(count_1),how="left",left_index=True,right_index=True)
#         df.columns=["user_counts","black_counts"]
#         df=df.reset_index(drop=False)
#         df["black_ratio"]=df.black_counts/df.user_counts
        
#         fts_mid=data[["UID",field]].fillna(0)
#         fts_mid=pd.merge(fts_mid,df,how="left",on=field).drop_duplicates()
        
#         fm_group=fts_mid.groupby("UID")
        
#         fts=pd.DataFrame(fm_group.user_counts.mean())
#         fts.columns=[field+"count_mean"]
#         fts[field+"count_max"]=fm_group.user_counts.max()
#         fts[field+"count_min"]=fm_group.user_counts.min()
#         fts[field+"ratio_mean"]=fm_group.black_counts.sum()/fm_group.user_counts.sum()
#         fts[field+"ratio_max"]=fm_group.black_ratio.max()
#         fts[field+"ratio_min"]=fm_group.black_ratio.min()
#         fts=fts.reset_index(drop=False)
#         print(fts)
#         fts_all=pd.merge(fts_all,fts,how="left",on="UID")
#     return fts_all
def get_fields_as_key_fts3(data,fields):
    fts_all=pd.DataFrame(data["UID"].unique())
    fts_all.columns=["UID"]
    for field in fields:
        
        f_count=data[["UID",field]].drop_duplicates().fillna(0).groupby(field).count()
        df=pd.DataFrame(f_count)
        df.columns=["user_counts"]
        df=df.reset_index(drop=False)
        
        fts_mid=data[["UID",field]].fillna(0)
        fts_mid=pd.merge(fts_mid,df,how="left",on=field).drop_duplicates()
        
        fm_group=fts_mid.groupby("UID")
        
        fts=pd.DataFrame(fm_group.user_counts.mean())
        fts.columns=[field+"count_mean"]
        fts[field+"count_max"]=fm_group.user_counts.max()
        fts[field+"count_min"]=fm_group.user_counts.min()
        fts=fts.reset_index(drop=False)
        fts_all=pd.merge(fts_all,fts,how="left",on="UID")
    print("=====OK======")
    return fts_all

In [34]:
# operation表
# transaction表
# 4、UID对应样本数
def get_sample_counts_fts4(data):
    fts=pd.DataFrame(data["UID"].value_counts().sort_index()).reset_index(drop=False)
    fts.columns=["UID","UID_sample_counts"]
    print("=====OK======")
    return fts

In [35]:
# transaction表
# UID对应trans_amt、bal的和、平均值、最大值、最小值
tr_fields5=["trans_amt","bal"]
def get_tr_money_fts5(data,fields):
    group=data.groupby("UID")[fields]
    fts1=group.apply(lambda x:x.sum())
    fts1.columns=[f+"_sum" for f in fields]
    fts2=group.apply(lambda x:x.max())
    fts2.columns=[f+"_max" for f in fields]
    fts3=group.apply(lambda x:x.min())
    fts3.columns=[f+"_min" for f in fields]
    fts4=group.apply(lambda x:x.mean())
    fts4.columns=[f+"_mean" for f in fields]
    fts=pd.concat([fts1,fts2,fts3,fts4],axis=1)
    fts["UID"]=fts1.index
    print("=====OK======")
    return fts

In [36]:
#transaction表
# 6、divice_code1、2，device1、mac1、geo_code缺失值，羊毛党明显偏高羊毛党：空值数量或者是否包含空值
# ip1,ip1_sub,device2也有20%偏高
#获得空值率
tr_fields6=["device_code1","device_code2","device1","mac1","geo_code","ip1","ip1_sub","device2"]
def get_tr_null_fts6(data,fields):
    group=data.groupby("UID")
    fts=pd.DataFrame(group.apply(lambda x:len(x)))
    fts.columns=["count"]
    for field in fields:
        fts=pd.concat([fts,group[field].apply(lambda x:len(x[x.isnull()]))],axis=1)
    fts=fts.div(fts["count"],axis=0)
    fts=fts.reset_index(drop=False)
    fts=fts.drop(["count"],axis=1)
    print("=====OK======")
    return fts

In [40]:
train_op_fts1=get_discrete_fts1(train_op,op_fields1)
train_tr_fts1=get_discrete_fts1(train_tr,tr_fields1)
train_op_fts2=get_kinds_fts2(train_op,op_fields2)
train_tr_fts2=get_kinds_fts2(train_tr,tr_fields2)
train_op_fts3=get_fields_as_key_fts3(train_op,op_fields3)
train_tr_fts3=get_fields_as_key_fts3(train_tr,tr_fields3)
train_op_fts4=get_sample_counts_fts4(train_op)
train_tr_fts4=get_sample_counts_fts4(train_tr)
train_tr_fts5=get_tr_money_fts5(train_tr,tr_fields5)
train_tr_fts6=get_tr_null_fts6(train_tr,tr_fields6)

=====OK======
=====OK======

In [41]:
train_fts=train_fts.merge(train_op_fts1,how="left",on="UID")
train_fts=train_fts.merge(train_tr_fts1,how="left",on="UID")
train_fts=train_fts.merge(train_op_fts2,how="left",on="UID")
train_fts=train_fts.merge(train_tr_fts2,how="left",on="UID")
train_fts=train_fts.merge(train_op_fts3,how="left",on="UID")
train_fts=train_fts.merge(train_tr_fts3,how="left",on="UID")
train_fts=train_fts.merge(train_op_fts4,how="left",on="UID")
train_fts=train_fts.merge(train_tr_fts4,how="left",on="UID")
train_fts=train_fts.merge(train_tr_fts5,how="left",on="UID")
train_fts=train_fts.merge(train_tr_fts6,how="left",on="UID")

In [42]:
test_op_fts1=get_discrete_fts1(test_op,op_fields1)
test_tr_fts1=get_discrete_fts1(test_tr,tr_fields1)
test_op_fts2=get_kinds_fts2(test_op,op_fields2)
test_tr_fts2=get_kinds_fts2(test_tr,tr_fields2)
test_op_fts3=get_fields_as_key_fts3(test_op,op_fields3)
test_tr_fts3=get_fields_as_key_fts3(test_tr,tr_fields3)
test_op_fts4=get_sample_counts_fts4(test_op)
test_tr_fts4=get_sample_counts_fts4(test_tr)
test_tr_fts5=get_tr_money_fts5(test_tr,tr_fields5)
test_tr_fts6=get_tr_null_fts6(test_tr,tr_fields6)

=====OK======
=====OK======
=====OK======
=====OK======
         UID  device_code1count_mean  device_code1count_max  \
0      30000                 19357.0                  19357
1      30001                  9679.0                  19357
2      30002                     1.0                      1
3      30003                     1.0                      1
4      30005                     1.0                      1
5      30007                     1.0                      1
6      30008                  6453.0                  19357
7      30009                  9679.0                  19357
8      30010                     1.0                      1
9      30011                     1.0                      1
10     30013                  9679.0                  19357
11     30014                  9679.0                  19357
12     30015                  9679.0                  19357
13     30017                  9679.0                  19357
14     30018                     1.0                      1
15     30019                     1.0                      1
16     30020                 19357.0                  19357
17     30021                  9679.0                  19357
18     30022                     1.0                      1
19     30023                  9679.0                  19357
20     30024                  9679.0                  19357
21     30026                  9679.0                  19357
22     30028                  9679.0                  19357
23     30029                     1.0                      1
24     30031                  9679.0                  19357
25     30032                     1.5                      2
26     30033                  9679.0                  19357
27     30036                  9679.0                  19357
28     30037                     1.0                      1
29     30038                 19357.0                  19357
...      ...                     ...                    ...
27857  87734                 19357.0                  19357
27858  87735                 19357.0                  19357
27859  87736                  9679.0                  19357
27860  87737                  6453.0                  19357
27861  87738                 19357.0                  19357
27862  87739                  6453.0                  19357
27863  87740                 19357.0                  19357
27864  87741                  9679.0                  19357
27865  87742                  9679.0                  19357
27866  87743                 19357.0                  19357
27867  87744                 19357.0                  19357
27868  87745                  9679.0                  19357
27869  87746                 19357.0                  19357
27870  87747                     1.0                      1
27871  87748                  9679.0                  19357
27872  87749                     1.0                      1
27873  87750                     1.0                      1
27874  87751                  9679.0                  19357
27875  87752                     1.0                      1
27876  87753                 19357.0                  19357
27877  87754                 19357.0                  19357
27878  87755                  9679.0                  19357
27879  87756                 19357.0                  19357
27880  87757                  9679.0                  19357
27881  87758                  4840.0                  19357
27882  87759                  9679.0                  19357
27883  87760                     1.0                      1
27884  87761                     1.0                      1
27885  87762                     1.0                      1
27886  87763                  9679.0                  19357

       device_code1count_min
0                      19357
1                          1
2                          1
3                          1
4                          1
5                          1
6                          1
7                          1
8                          1
9                          1
10                         1
11                         1
12                         1
13                         1
14                         1
15                         1
16                     19357
17                         1
18                         1
19                         1
20                         1
21                         1
22                         1
23                         1
24                         1
25                         1
26                         1
27                         1
28                         1
29                     19357
...                      ...
27857                  19357
27858                  19357
27859                      1
27860                      1
27861                  19357
27862                      1
27863                  19357
27864                      1
27865                      1
27866                  19357
27867                  19357
27868                      1
27869                  19357
27870                      1
27871                      1
27872                      1
27873                      1
27874                      1
27875                      1
27876                  19357
27877                  19357
27878                      1
27879                  19357
27880                      1
27881                      1
27882                      1
27883                      1
27884                      1
27885                      1
27886                      1

[27887 rows x 4 columns]
         UID  device_code2count_mean  device_code2count_max  \
0      30000            19871.000000                  19871
1      30001             9936.000000                  19871
2      30002                1.000000                      1
3      30003                1.000000                      1
4      30005                1.000000                      1
5      30007                1.000000                      1
6      30008             6624.333333                  19871
7      30009             9936.000000                  19871
8      30010                1.000000                      1
9      30011                1.000000                      1
10     30013             6624.333333                  19871
11     30014             9936.000000                  19871
12     30015             9936.000000                  19871
13     30017             9936.000000                  19871
14     30018                1.000000                      1
15     30019                1.000000                      1
16     30020            19871.000000                  19871
17     30021             6624.333333                  19871
18     30022                1.000000                      1
19     30023             6624.333333                  19871
20     30024             6624.333333                  19871
21     30026             9936.000000                  19871
22     30028             4968.500000                  19871
23     30029                1.000000                      1
24     30031             6624.333333                  19871
25     30032                1.000000                      1
26     30033             6624.333333                  19871
27     30036            19871.000000                  19871
28     30037                1.000000                      1
29     30038            19871.000000                  19871
...      ...                     ...                    ...
27857  87734            19871.000000                  19871
27858  87735            19871.000000                  19871
27859  87736             9936.000000                  19871
27860  87737             6624.333333                  19871
27861  87738            19871.000000                  19871
27862  87739             6624.333333                  19871
27863  87740            19871.000000                  19871
27864  87741             9936.000000                  19871
27865  87742             9936.000000                  19871
27866  87743            19871.000000                  19871
27867  87744            19871.000000                  19871
27868  87745             9936.000000                  19871
27869  87746            19871.000000                  19871
27870  87747                1.000000                      1
27871  87748             9936.000000                  19871
27872  87749                1.000000                      1
27873  87750                1.000000                      1
27874  87751             9936.000000                  19871
27875  87752                1.000000                      1
27876  87753            19871.000000                  19871
27877  87754            19871.000000                  19871
27878  87755             9936.000000                  19871
27879  87756            19871.000000                  19871
27880  87757             9936.000000                  19871
27881  87758             6624.333333                  19871
27882  87759             9936.000000                  19871
27883  87760                1.000000                      1
27884  87761                1.000000                      1
27885  87762                1.000000                      1
27886  87763             9936.000000                  19871

       device_code2count_min
0                      19871
1                          1
2                          1
3                          1
4                          1
5                          1
6                          1
7                          1
8                          1
9                          1
10                         1
11                         1
12                         1
13                         1
14                         1
15                         1
16                     19871
17                         1
18                         1
19                         1
20                         1
21                         1
22                         1
23                         1
24                         1
25                         1
26                         1
27                     19871
28                         1
29                     19871
...                      ...
27857                  19871
27858                  19871
27859                      1
27860                      1
27861                  19871
27862                      1
27863                  19871
27864                      1
27865                      1
27866                  19871
27867                  19871
27868                      1
27869                  19871
27870                      1
27871                      1
27872                      1
27873                      1
27874                      1
27875                      1
27876                  19871
27877                  19871
27878                      1
27879                  19871
27880                      1
27881                      1
27882                      1
27883                      1
27884                      1
27885                      1
27886                      1

[27887 rows x 4 columns]

         UID  device_code3count_mean  device_code3count_max  \
0      30000                1.000000                      1
1      30001            25829.000000                  25829
2      30002            25829.000000                  25829
3      30003            25829.000000                  25829
4      30005            25829.000000                  25829
5      30007            25829.000000                  25829
6      30008            25829.000000                  25829
7      30009            25829.000000                  25829
8      30010            25829.000000                  25829
9      30011            25829.000000                  25829
10     30013            25829.000000                  25829
11     30014            25829.000000                  25829
12     30015            25829.000000                  25829
13     30017            25829.000000                  25829
14     30018            25829.000000                  25829
15     30019            25829.000000                  25829
16     30020            12915.000000                  25829
17     30021            25829.000000                  25829
18     30022            25829.000000                  25829
19     30023            25829.000000                  25829
20     30024            25829.000000                  25829
21     30026            25829.000000                  25829
22     30028            13992.000000                  25829
23     30029            25829.000000                  25829
24     30031            13992.000000                  25829
25     30032            25829.000000                  25829
26     30033            13992.000000                  25829
27     30036            12916.000000                  25829
28     30037            25829.000000                  25829
29     30038                1.000000                      1
...      ...                     ...                    ...
27857  87734            12915.000000                  25829
27858  87735            12915.000000                  25829
27859  87736            25829.000000                  25829
27860  87737            25829.000000                  25829
27861  87738            12915.000000                  25829
27862  87739            25829.000000                  25829
27863  87740            12915.000000                  25829
27864  87741            13992.000000                  25829
27865  87742            25829.000000                  25829
27866  87743              178.500000                    228
27867  87744             8610.333333                  25829
27868  87745            25829.000000                  25829
27869  87746            12915.000000                  25829
27870  87747            25829.000000                  25829
27871  87748            25829.000000                  25829
27872  87749            25829.000000                  25829
27873  87750            25829.000000                  25829
27874  87751            12915.000000                  25829
27875  87752            25829.000000                  25829
27876  87753            12915.000000                  25829
27877  87754             8610.333333                  25829
27878  87755            25829.000000                  25829
27879  87756            12915.000000                  25829
27880  87757            25829.000000                  25829
27881  87758            25829.000000                  25829
27882  87759            25829.000000                  25829
27883  87760            25829.000000                  25829
27884  87761            25829.000000                  25829
27885  87762            25829.000000                  25829
27886  87763            25829.000000                  25829

       device_code3count_min
0                          1
1                      25829
2                      25829
3                      25829
4                      25829
5                      25829
6                      25829
7                      25829
8                      25829
9                      25829
10                     25829
11                     25829
12                     25829
13                     25829
14                     25829
15                     25829
16                         1
17                     25829
18                     25829
19                     25829
20                     25829
21                     25829
22                      2155
23                     25829
24                      2155
25                     25829
26                      2155
27                         3
28                     25829
29                         1
...                      ...
27857                      1
27858                      1
27859                  25829
27860                  25829
27861                      1
27862                  25829
27863                      1
27864                   2155
27865                  25829
27866                    129
27867                      1
27868                  25829
27869                      1
27870                  25829
27871                  25829
27872                  25829
27873                  25829
27874                      1
27875                  25829
27876                      1
27877                      1
27878                  25829
27879                      1
27880                  25829
27881                  25829
27882                  25829
27883                  25829
27884                  25829
27885                  25829
27886                  25829

[27887 rows x 4 columns]
         UID  mac1count_mean  mac1count_max  mac1count_min
0      30000    27873.000000          27873          27873
1      30001    13937.000000          27873              1
2      30002    13937.000000          27873              1
3      30003    17667.000000          27873           7461
4      30005    13937.000000          27873              1
5      30007    17667.000000          27873           7461
6      30008     9291.666667          27873              1
7      30009    27873.000000          27873          27873
8      30010    17667.000000          27873           7461
9      30011    27873.000000          27873          27873
10     30013    13937.000000          27873              1
11     30014    13937.000000          27873              1
12     30015    13937.000000          27873              1
13     30017    27873.000000          27873          27873
14     30018    27873.000000          27873          27873
15     30019    17667.000000          27873           7461
16     30020    27873.000000          27873          27873
17     30021    13937.000000          27873              1
18     30022    27873.000000          27873          27873
19     30023    17667.000000          27873           7461
20     30024    27873.000000          27873          27873
21     30026    17667.000000          27873           7461
22     30028    13937.000000          27873              1
23     30029    17667.000000          27873           7461
24     30031    13937.000000          27873              1
25     30032    11778.666667          27873              2
26     30033    13937.000000          27873              1
27     30036    27873.000000          27873          27873
28     30037    13937.000000          27873              1
29     30038    27873.000000          27873          27873
...      ...             ...            ...            ...
27857  87734    27873.000000          27873          27873
27858  87735    27873.000000          27873          27873
27859  87736    13937.000000          27873              1
27860  87737    17667.000000          27873           7461
27861  87738    27873.000000          27873          27873
27862  87739     9291.666667          27873              1
27863  87740    27873.000000          27873          27873
27864  87741    17667.000000          27873           7461
27865  87742    17667.000000          27873           7461
27866  87743    27873.000000          27873          27873
27867  87744    27873.000000          27873          27873
27868  87745    17667.000000          27873           7461
27869  87746    27873.000000          27873          27873
27870  87747    17667.000000          27873           7461
27871  87748    17667.000000          27873           7461
27872  87749    17667.000000          27873           7461
27873  87750    27873.000000          27873          27873
27874  87751    13937.000000          27873              1
27875  87752    13937.000000          27873              1
27876  87753    27873.000000          27873          27873
27877  87754    27873.000000          27873          27873
27878  87755    13937.000000          27873              1
27879  87756    27873.000000          27873          27873
27880  87757    17667.000000          27873           7461
27881  87758    11778.333333          27873              1
27882  87759    13937.000000          27873              1
27883  87760    13937.000000          27873              1
27884  87761    17667.000000          27873           7461
27885  87762    17667.000000          27873           7461
27886  87763    17667.000000          27873           7461

[27887 rows x 4 columns]

         UID  mac2count_mean  mac2count_max  mac2count_min
0      30000    25575.000000          25575          25575
1      30001     8525.666667          25575              1
2      30002    12788.000000          25575              1
3      30003    17932.000000          25575          10289
4      30005    12788.000000          25575              1
5      30007    12753.333333          25575           2396
6      30008     6394.500000          25575              1
7      30009    12788.000000          25575              1
8      30010    17932.000000          25575          10289
9      30011    10289.000000          10289          10289
10     30013    12788.000000          25575              1
11     30014    12788.000000          25575              1
12     30015    12788.000000          25575              1
13     30017    12788.000000          25575              1
14     30018    10289.000000          10289          10289
15     30019    17932.000000          25575          10289
16     30020    25575.000000          25575          25575
17     30021    12788.000000          25575              1
18     30022    10289.000000          10289          10289
19     30023    12753.333333          25575           2396
20     30024    12788.000000          25575              1
21     30026    17932.000000          25575          10289
22     30028     8525.666667          25575              1
23     30029    12753.333333          25575           2396
24     30031    12788.000000          25575              1
25     30032     9565.500000          25575              2
26     30033    12788.000000          25575              1
27     30036    12812.000000          25575             49
28     30037    12788.000000          25575              1
29     30038    25575.000000          25575          25575
...      ...             ...            ...            ...
27857  87734    25575.000000          25575          25575
27858  87735    25575.000000          25575          25575
27859  87736    12788.000000          25575              1
27860  87737    12753.333333          25575           2396
27861  87738    25575.000000          25575          25575
27862  87739     7173.400000          25575              1
27863  87740    25575.000000          25575          25575
27864  87741    17932.000000          25575          10289
27865  87742    17932.000000          25575          10289
27866  87743    25575.000000          25575          25575
27867  87744    25575.000000          25575          25575
27868  87745    17932.000000          25575          10289
27869  87746    25575.000000          25575          25575
27870  87747    17932.000000          25575          10289
27871  87748    17932.000000          25575          10289
27872  87749    17932.000000          25575          10289
27873  87750        1.000000              1              1
27874  87751    12788.000000          25575              1
27875  87752    12788.000000          25575              1
27876  87753    25575.000000          25575          25575
27877  87754    25575.000000          25575          25575
27878  87755    12788.000000          25575              1
27879  87756    25575.000000          25575          25575
27880  87757    17932.000000          25575          10289
27881  87758     9565.250000          25575              1
27882  87759    12788.000000          25575              1
27883  87760    12788.000000          25575              1
27884  87761    17932.000000          25575          10289
27885  87762    17932.000000          25575          10289
27886  87763    12753.333333          25575           2396

[27887 rows x 4 columns]
         UID  wificount_mean  wificount_max  wificount_min
0      30000    27640.000000          27640          27640
1      30001     9214.000000          27640              1
2      30002    27640.000000          27640          27640
3      30003    27640.000000          27640          27640
4      30005    27640.000000          27640          27640
5      30007    27640.000000          27640          27640
6      30008     9214.000000          27640              1
7      30009    27640.000000          27640          27640
8      30010    13820.500000          27640              1
9      30011        1.000000              1              1
10     30013    13820.500000          27640              1
11     30014    13821.500000          27640              3
12     30015    27640.000000          27640          27640
13     30017     9214.000000          27640              1
14     30018    27640.000000          27640          27640
15     30019    27640.000000          27640          27640
16     30020    27640.000000          27640          27640
17     30021    13820.500000          27640              1
18     30022    13820.500000          27640              1
19     30023    13820.500000          27640              1
20     30024     6910.750000          27640              1
21     30026    13820.500000          27640              1
22     30028    27640.000000          27640          27640
23     30029    27640.000000          27640          27640
24     30031     9220.333333          27640              1
25     30032    27640.000000          27640          27640
26     30033     4607.500000          27640              1
27     30036    27640.000000          27640          27640
28     30037    13820.500000          27640              1
29     30038    13820.500000          27640              1
...      ...             ...            ...            ...
27857  87734     9214.000000          27640              1
27858  87735     6910.750000          27640              1
27859  87736    27640.000000          27640          27640
27860  87737    13820.500000          27640              1
27861  87738    13821.000000          27640              2
27862  87739     5529.000000          27640              1
27863  87740    27640.000000          27640          27640
27864  87741     9223.333333          27640             11
27865  87742    13820.500000          27640              1
27866  87743    13820.500000          27640              1
27867  87744    13820.500000          27640              1
27868  87745     5557.600000          27640              1
27869  87746    27640.000000          27640          27640
27870  87747     9224.333333          27640             16
27871  87748    13820.500000          27640              1
27872  87749     9214.000000          27640              1
27873  87750    13823.500000          27640              7
27874  87751     5529.000000          27640              1
27875  87752    13830.000000          27640             20
27876  87753     6912.250000          27640              1
27877  87754    27640.000000          27640          27640
27878  87755    13820.500000          27640              1
27879  87756    13820.500000          27640              1
27880  87757    13820.500000          27640              1
27881  87758    13820.500000          27640              1
27882  87759    27640.000000          27640          27640
27883  87760    27640.000000          27640          27640
27884  87761    27640.000000          27640          27640
27885  87762    27640.000000          27640          27640
27886  87763    13820.500000          27640              1

[27887 rows x 4 columns]
         UID  ip1count_mean  ip1count_max  ip1count_min
0      30000       1.000000             1             1
1      30001    5850.666667         17550             1
2      30002       1.000000             1             1
3      30003       1.750000             2             1
4      30005       1.500000             2             1
5      30007       1.000000             1             1
6      30008    1171.866667         17550             2
7      30009    4626.500000         17550           307
8      30010       1.333333             2             1
9      30011       1.000000             1             1
10     30013    2194.625000         17550             1
11     30014    8775.500000         17550             1
12     30015    8775.500000         17550             1
13     30017    4388.250000         17550             1
14     30018       1.000000             1             1
15     30019       1.000000             1             1
16     30020    3511.800000         17550             1
17     30021    2925.833333         17550             1
18     30022       1.000000             1             1
19     30023    8775.500000         17550             1
20     30024    4388.250000         17550             1
21     30026    3510.800000         17550             1
22     30028    4388.250000         17550             1
23     30029       1.000000             1             1
24     30031    1170.933333         17550             1
25     30032       1.000000             1             1
26     30033    1171.000000         17550             1
27     30036    5866.000000         17550            15
28     30037       1.142857             2             1
29     30038    5850.666667         17550             1
...      ...            ...           ...           ...
27857  87734    1950.888889         17550             1
27858  87735    1755.900000         17550             1
27859  87736    2942.833333         17550            11
27860  87737    4388.250000         17550             1
27861  87738    8775.500000         17550             1
27862  87739     764.043478         17550             1
27863  87740    5851.000000         17550             1
27864  87741    2508.142857         17550             1
27865  87742     926.684211         17550             1
27866  87743     156.000000           226            86
27867  87744    1596.363636         17550             1
27868  87745     399.840909         17550             1
27869  87746    1950.888889         17550             1
27870  87747       5.600000            13             1
27871  87748    1950.888889         17550             1
27872  87749       1.000000             1             1
27873  87750       3.000000             6             1
27874  87751       1.000000             1             1
27875  87752      10.500000            18             3
27876  87753    2194.625000         17550             1
27877  87754    8781.000000         17550            12
27878  87755    1756.000000         17550             1
27879  87756    1755.900000         17550             1
27880  87757    5850.666667         17550             1
27881  87758    2925.833333         17550             1
27882  87759    2209.750000         17550             7
27883  87760       1.000000             1             1
27884  87761       1.000000             1             1
27885  87762       1.000000             1             1
27886  87763    3510.800000         17550             1

[27887 rows x 4 columns]

         UID  ip2count_mean  ip2count_max  ip2count_min
0      30000   27887.000000         27887         27887
1      30001   27887.000000         27887         27887
2      30002   27887.000000         27887         27887
3      30003   27887.000000         27887         27887
4      30005   27887.000000         27887         27887
5      30007   27887.000000         27887         27887
6      30008    2147.000000         27887             2
7      30009   27887.000000         27887         27887
8      30010   27887.000000         27887         27887
9      30011   27887.000000         27887         27887
10     30013   13944.000000         27887             1
11     30014   27887.000000         27887         27887
12     30015   27887.000000         27887         27887
13     30017   13944.000000         27887             1
14     30018   27887.000000         27887         27887
15     30019   27887.000000         27887         27887
16     30020   13945.000000         27887             3
17     30021    9296.333333         27887             1
18     30022   27887.000000         27887         27887
19     30023   27887.000000         27887         27887
20     30024    6972.500000         27887             1
21     30026   13944.000000         27887             1
22     30028   27887.000000         27887         27887
23     30029   27887.000000         27887         27887
24     30031   27887.000000         27887         27887
25     30032   27887.000000         27887         27887
26     30033   27887.000000         27887         27887
27     30036   27887.000000         27887         27887
28     30037   27887.000000         27887         27887
29     30038   27887.000000         27887         27887
...      ...            ...           ...           ...
27857  87734    9296.333333         27887             1
27858  87735   27887.000000         27887         27887
27859  87736   27887.000000         27887         27887
27860  87737   27887.000000         27887         27887
27861  87738   27887.000000         27887         27887
27862  87739   13944.000000         27887             1
27863  87740   13944.000000         27887             1
27864  87741   13944.000000         27887             1
27865  87742    4649.500000         27887             1
27866  87743   27887.000000         27887         27887
27867  87744    5578.200000         27887             1
27868  87745   27887.000000         27887         27887
27869  87746   27887.000000         27887         27887
27870  87747   27887.000000         27887         27887
27871  87748    6972.500000         27887             1
27872  87749   27887.000000         27887         27887
27873  87750   27887.000000         27887         27887
27874  87751   27887.000000         27887         27887
27875  87752   27887.000000         27887         27887
27876  87753   13944.000000         27887             1
27877  87754   27887.000000         27887         27887
27878  87755   27887.000000         27887         27887
27879  87756   27887.000000         27887         27887
27880  87757   13944.000000         27887             1
27881  87758   27887.000000         27887         27887
27882  87759   27887.000000         27887         27887
27883  87760   27887.000000         27887         27887
27884  87761   27887.000000         27887         27887
27885  87762   27887.000000         27887         27887
27886  87763   27887.000000         27887         27887

[27887 rows x 4 columns]
         UID  ip1_subcount_mean  ip1_subcount_max  ip1_subcount_min
0      30000           7.000000                 7                 7
1      30001        5851.000000             17550                 1
2      30002          10.500000                13                 8
3      30003          68.000000               123                27
4      30005          41.000000                42                40
5      30007           2.500000                 4                 1
6      30008        4389.500000             17550                 2
7      30009        4627.000000             17550               308
8      30010          14.500000                27                 2
9      30011           1.000000                 1                 1
10     30013        2926.000000             17550                 1
11     30014        8776.500000             17550                 3
12     30015        8781.500000             17550                13
13     30017        4396.000000             17550                 1
14     30018           8.666667                11                 6
15     30019          29.000000                29                29
16     30020        3511.800000             17550                 1
17     30021        3519.400000             17550                 4
18     30022           8.600000                24                 1
19     30023        8775.500000             17550                 1
20     30024        4388.250000             17550                 1
21     30026        3520.200000             17550                 1
22     30028        4409.500000             17550                 1
23     30029          16.000000                16                16
24     30031        1467.416667             17550                 1
25     30032          45.750000                52                42
26     30033        1471.166667             17550                 1
27     30036        5866.333333             17550                16
28     30037          23.428571                44                 2
29     30038        5858.333333             17550                 1
...      ...                ...               ...               ...
27857  87734        2928.333333             17550                 1
27858  87735        1966.222222             17550                 1
27859  87736        2985.500000             17550                60
27860  87737        4418.000000             17550                21
27861  87738        8775.500000             17550                 1
27862  87739         939.631579             17550                 1
27863  87740        5882.000000             17550                27
27864  87741        2932.500000             17550                 1
27865  87742        2956.666667             17550                 1
27866  87743         183.500000               254               113
27867  87744        1599.545455             17550                 2
27868  87745         489.378378             17550                 1
27869  87746        2206.250000             17550                 6
27870  87747          30.600000                77                 8
27871  87748        1976.000000             17550                 5
27872  87749          16.363636                54                 1
27873  87750          20.333333                44                 6
27874  87751           9.909091                33                 1
27875  87752          17.500000                21                14
27876  87753        2198.000000             17550                 1
27877  87754        8781.000000             17550                12
27878  87755        1788.200000             17550                22
27879  87756        1957.222222             17550                 1
27880  87757        5860.333333             17550                 5
27881  87758        2931.000000             17550                 3
27882  87759        2249.500000             17550                25
27883  87760          45.000000                48                40
27884  87761           7.000000                 7                 7
27885  87762          28.000000                28                28
27886  87763        3513.800000             17550                 1

[27887 rows x 4 columns]
         UID  ip2_subcount_mean  ip2_subcount_max  ip2_subcount_min
0      30000       27887.000000             27887             27887
1      30001       27887.000000             27887             27887
2      30002       27887.000000             27887             27887
3      30003       27887.000000             27887             27887
4      30005       27887.000000             27887             27887
5      30007       27887.000000             27887             27887
6      30008        6973.750000             27887                 2
7      30009       27887.000000             27887             27887
8      30010       27887.000000             27887             27887
9      30011       27887.000000             27887             27887
10     30013       13944.000000             27887                 1
11     30014       27887.000000             27887             27887
12     30015       27887.000000             27887             27887
13     30017       13944.000000             27887                 1
14     30018       27887.000000             27887             27887
15     30019       27887.000000             27887             27887
16     30020       13945.000000             27887                 3
17     30021        9297.333333             27887                 1
18     30022       27887.000000             27887             27887
19     30023       27887.000000             27887             27887
20     30024        6972.500000             27887                 1
21     30026       13944.500000             27887                 2
22     30028       27887.000000             27887             27887
23     30029       27887.000000             27887             27887
24     30031       27887.000000             27887             27887
25     30032       27887.000000             27887             27887
26     30033       27887.000000             27887             27887
27     30036       27887.000000             27887             27887
28     30037       27887.000000             27887             27887
29     30038       27887.000000             27887             27887
...      ...                ...               ...               ...
27857  87734        9296.333333             27887                 1
27858  87735       27887.000000             27887             27887
27859  87736       27887.000000             27887             27887
27860  87737       27887.000000             27887             27887
27861  87738       27887.000000             27887             27887
27862  87739       13944.000000             27887                 1
27863  87740       13945.000000             27887                 3
27864  87741       13944.000000             27887                 1
27865  87742        6980.250000             27887                 1
27866  87743       27887.000000             27887             27887
27867  87744        5578.600000             27887                 1
27868  87745       27887.000000             27887             27887
27869  87746       27887.000000             27887             27887
27870  87747       27887.000000             27887             27887
27871  87748        6976.750000             27887                 4
27872  87749       27887.000000             27887             27887
27873  87750       27887.000000             27887             27887
27874  87751       27887.000000             27887             27887
27875  87752       27887.000000             27887             27887
27876  87753       13944.000000             27887                 1
27877  87754       27887.000000             27887             27887
27878  87755       27887.000000             27887             27887
27879  87756       27887.000000             27887             27887
27880  87757       13944.000000             27887                 1
27881  87758       27887.000000             27887             27887
27882  87759       27887.000000             27887             27887
27883  87760       27887.000000             27887             27887
27884  87761       27887.000000             27887             27887
27885  87762       27887.000000             27887             27887
27886  87763       27887.000000             27887             27887

[27887 rows x 4 columns]
=====OK======

         UID  ip1count_mean  ip1count_max  ip1count_min
0      30000       1.000000             1             1
1      30001    5536.000000         11071             1
2      30002       1.000000             1             1
3      30003       1.000000             1             1
4      30004   11071.000000         11071         11071
5      30005       1.500000             2             1
6      30006   11071.000000         11071         11071
7      30007    5536.000000         11071             1
8      30008    2215.800000         11071             2
9      30009    3899.000000         11071           307
10     30010    5536.000000         11071             1
11     30011   11071.000000         11071         11071
12     30012   11071.000000         11071         11071
13     30013       1.000000             1             1
14     30014       1.000000             1             1
15     30015       1.000000             1             1
16     30016   11071.000000         11071         11071
17     30017       1.000000             1             1
18     30018       1.000000             1             1
19     30019       1.000000             1             1
20     30020       2.250000             3             1
21     30021       1.000000             1             1
22     30022   11071.000000         11071         11071
23     30023   11071.000000         11071         11071
24     30024       1.000000             1             1
25     30025   11071.000000         11071         11071
26     30026       1.000000             1             1
27     30027   11071.000000         11071         11071
28     30028       1.000000             1             1
29     30029       1.000000             1             1
...      ...            ...           ...           ...
30071  87734   11071.000000         11071         11071
30072  87735       1.000000             1             1
30073  87736      20.500000            24            16
30074  87737       1.000000             1             1
30075  87738   11071.000000         11071         11071
30076  87739       1.000000             1             1
30077  87740   11071.000000         11071         11071
30078  87741    5536.000000         11071             1
30079  87742       1.000000             1             1
30080  87743   11071.000000         11071         11071
30081  87744       1.000000             1             1
30082  87745       1.000000             1             1
30083  87746    3691.000000         11071             1
30084  87747       4.333333            11             1
30085  87748   11071.000000         11071         11071
30086  87749       1.000000             1             1
30087  87750       1.000000             1             1
30088  87751       1.000000             1             1
30089  87752       8.500000            16             1
30090  87753       1.000000             1             1
30091  87754    5541.500000         11071            12
30092  87755       1.000000             1             1
30093  87756    5536.000000         11071             1
30094  87757       1.000000             1             1
30095  87758       1.000000             1             1
30096  87759      13.750000            28             7
30097  87760       1.000000             1             1
30098  87761       1.000000             1             1
30099  87762       1.000000             1             1
30100  87763       1.000000             1             1

[30101 rows x 4 columns]
         UID  ip1_subcount_mean  ip1_subcount_max  ip1_subcount_min
0      30000           4.000000                 4                 4
1      30001        5536.000000             11071                 1
2      30002           2.000000                 2                 2
3      30003          27.000000                27                27
4      30004       11071.000000             11071             11071
5      30005          21.000000                22                20
6      30006       11071.000000             11071             11071
7      30007        5536.000000             11071                 1
8      30008        2769.500000             11071                 2
9      30009        3899.333333             11071               307
10     30010        5536.500000             11071                 2
11     30011       11071.000000             11071             11071
12     30012       11071.000000             11071             11071
13     30013           1.000000                 1                 1
14     30014           3.000000                 3                 3
15     30015           4.500000                 6                 3
16     30016       11071.000000             11071             11071
17     30017           1.000000                 1                 1
18     30018           2.500000                 3                 2
19     30019           6.000000                 7                 5
20     30020           2.250000                 3                 1
21     30021           7.500000                 9                 6
22     30022       11071.000000             11071             11071
23     30023       11071.000000             11071             11071
24     30024           1.000000                 1                 1
25     30025       11071.000000             11071             11071
26     30026          10.000000                10                10
27     30027       11071.000000             11071             11071
28     30028          27.000000                28                26
29     30029           5.000000                 5                 5
...      ...                ...               ...               ...
30071  87734       11071.000000             11071             11071
30072  87735           8.000000                 8                 8
30073  87736          54.750000                74                41
30074  87737          45.000000                45                45
30075  87738       11071.000000             11071             11071
30076  87739           1.000000                 1                 1
30077  87740       11071.000000             11071             11071
30078  87741        5537.000000             11071                 3
30079  87742           7.000000                 7                 7
30080  87743       11071.000000             11071             11071
30081  87744           1.500000                 2                 1
30082  87745          10.000000                13                 7
30083  87746        3694.333333             11071                 6
30084  87747          33.666667                64                13
30085  87748       11071.000000             11071             11071
30086  87749           3.125000                12                 1
30087  87750          14.000000                14                14
30088  87751           1.000000                 1                 1
30089  87752          13.500000                18                 9
30090  87753           2.000000                 2                 2
30091  87754        5541.500000             11071                12
30092  87755           9.000000                 9                 9
30093  87756        5536.000000             11071                 1
30094  87757          13.000000                13                13
30095  87758           5.000000                 5                 5
30096  87759          57.250000                90                29
30097  87760          18.500000                19                18
30098  87761           3.000000                 3                 3
30099  87762           6.000000                 6                 6
30100  87763           2.000000                 2                 2

[30101 rows x 4 columns]
         UID  acc_id1count_mean  acc_id1count_max  acc_id1count_min
0      30000       26573.000000             26573             26573
1      30001       26573.000000             26573             26573
2      30002       26573.000000             26573             26573
3      30003           1.000000                 1                 1
4      30004       26573.000000             26573             26573
5      30005       13287.000000             26573                 1
6      30006           1.000000                 1                 1
7      30007       13287.000000             26573                 1
8      30008        6644.000000             26573                 1
9      30009       13287.000000             26573                 1
10     30010       13287.000000             26573                 1
11     30011       26573.000000             26573             26573
12     30012       26573.000000             26573             26573
13     30013       13287.000000             26573                 1
14     30014       13287.000000             26573                 1
15     30015        8858.333333             26573                 1
16     30016       26573.000000             26573             26573
17     30017       13287.000000             26573                 1
18     30018       13287.000000             26573                 1
19     30019       13287.000000             26573                 1
20     30020       13287.000000             26573                 1
21     30021       13287.000000             26573                 1
22     30022       26573.000000             26573             26573
23     30023       26573.000000             26573             26573
24     30024        8858.333333             26573                 1
25     30025       26573.000000             26573             26573
26     30026       26573.000000             26573             26573
27     30027       26573.000000             26573             26573
28     30028       13287.000000             26573                 1
29     30029       26573.000000             26573             26573
...      ...                ...               ...               ...
30071  87734       13287.000000             26573                 1
30072  87735           1.000000                 1                 1
30073  87736       26573.000000             26573             26573
30074  87737       26573.000000             26573             26573
30075  87738       13287.000000             26573                 1
30076  87739           1.000000                 1                 1
30077  87740       13287.000000             26573                 1
30078  87741        8858.333333             26573                 1
30079  87742           1.000000                 1                 1
30080  87743       26573.000000             26573             26573
30081  87744       26573.000000             26573             26573
30082  87745       26573.000000             26573             26573
30083  87746       13287.000000             26573                 1
30084  87747       26573.000000             26573             26573
30085  87748       26573.000000             26573             26573
30086  87749       13287.000000             26573                 1
30087  87750       26573.000000             26573             26573
30088  87751       26573.000000             26573             26573
30089  87752       26573.000000             26573             26573
30090  87753       13287.000000             26573                 1
30091  87754        8882.000000             26573                 1
30092  87755       26573.000000             26573             26573
30093  87756       26573.000000             26573             26573
30094  87757       26573.000000             26573             26573
30095  87758       26573.000000             26573             26573
30096  87759       26573.000000             26573             26573
30097  87760       26573.000000             26573             26573
30098  87761       26573.000000             26573             26573
30099  87762       26573.000000             26573             26573
30100  87763       26573.000000             26573             26573

[30101 rows x 4 columns]

         UID  acc_id2count_mean  acc_id2count_max  acc_id2count_min
0      30000           29980.00             29980             29980
1      30001           29980.00             29980             29980
2      30002           29980.00             29980             29980
3      30003           29980.00             29980             29980
4      30004           29980.00             29980             29980
5      30005           14990.50             29980                 1
6      30006           29980.00             29980             29980
7      30007           29980.00             29980             29980
8      30008            7495.75             29980                 1
9      30009           29980.00             29980             29980
10     30010           29980.00             29980             29980
11     30011           29980.00             29980             29980
12     30012           29980.00             29980             29980
13     30013           29980.00             29980             29980
14     30014           14990.50             29980                 1
15     30015           29980.00             29980             29980
16     30016           29980.00             29980             29980
17     30017           14990.50             29980                 1
18     30018           14990.50             29980                 1
19     30019           14990.50             29980                 1
20     30020           29980.00             29980             29980
21     30021           29980.00             29980             29980
22     30022           29980.00             29980             29980
23     30023           29980.00             29980             29980
24     30024           14990.50             29980                 1
25     30025           29980.00             29980             29980
26     30026           29980.00             29980             29980
27     30027           29980.00             29980             29980
28     30028           14990.50             29980                 1
29     30029           29980.00             29980             29980
...      ...                ...               ...               ...
30071  87734           29980.00             29980             29980
30072  87735           29980.00             29980             29980
30073  87736           29980.00             29980             29980
30074  87737           29980.00             29980             29980
30075  87738           29980.00             29980             29980
30076  87739           29980.00             29980             29980
30077  87740           29980.00             29980             29980
30078  87741           29980.00             29980             29980
30079  87742           29980.00             29980             29980
30080  87743           29980.00             29980             29980
30081  87744           29980.00             29980             29980
30082  87745           29980.00             29980             29980
30083  87746           29980.00             29980             29980
30084  87747           29980.00             29980             29980
30085  87748           29980.00             29980             29980
30086  87749           29980.00             29980             29980
30087  87750           29980.00             29980             29980
30088  87751           29980.00             29980             29980
30089  87752           29980.00             29980             29980
30090  87753           29980.00             29980             29980
30091  87754           29980.00             29980             29980
30092  87755           29980.00             29980             29980
30093  87756           29980.00             29980             29980
30094  87757           29980.00             29980             29980
30095  87758           29980.00             29980             29980
30096  87759           29980.00             29980             29980
30097  87760           29980.00             29980             29980
30098  87761           29980.00             29980             29980
30099  87762           29980.00             29980             29980
30100  87763           29980.00             29980             29980

[30101 rows x 4 columns]
         UID  acc_id3count_mean  acc_id3count_max  acc_id3count_min
0      30000       29980.000000             29980             29980
1      30001       29980.000000             29980             29980
2      30002       29980.000000             29980             29980
3      30003       29980.000000             29980             29980
4      30004       29980.000000             29980             29980
5      30005       14990.500000             29980                 1
6      30006       29980.000000             29980             29980
7      30007       29980.000000             29980             29980
8      30008        9994.333333             29980                 1
9      30009       29980.000000             29980             29980
10     30010       29980.000000             29980             29980
11     30011       29980.000000             29980             29980
12     30012       29980.000000             29980             29980
13     30013       29980.000000             29980             29980
14     30014       14990.500000             29980                 1
15     30015       29980.000000             29980             29980
16     30016       29980.000000             29980             29980
17     30017       14990.500000             29980                 1
18     30018       14990.500000             29980                 1
19     30019       14990.500000             29980                 1
20     30020       29980.000000             29980             29980
21     30021       29980.000000             29980             29980
22     30022       29980.000000             29980             29980
23     30023       29980.000000             29980             29980
24     30024       14990.500000             29980                 1
25     30025       29980.000000             29980             29980
26     30026       29980.000000             29980             29980
27     30027       29980.000000             29980             29980
28     30028       14990.500000             29980                 1
29     30029       29980.000000             29980             29980
...      ...                ...               ...               ...
30071  87734       29980.000000             29980             29980
30072  87735       29980.000000             29980             29980
30073  87736       29980.000000             29980             29980
30074  87737       29980.000000             29980             29980
30075  87738       29980.000000             29980             29980
30076  87739       29980.000000             29980             29980
30077  87740       29980.000000             29980             29980
30078  87741       29980.000000             29980             29980
30079  87742       29980.000000             29980             29980
30080  87743       29980.000000             29980             29980
30081  87744       29980.000000             29980             29980
30082  87745       29980.000000             29980             29980
30083  87746       29980.000000             29980             29980
30084  87747       29980.000000             29980             29980
30085  87748       29980.000000             29980             29980
30086  87749       29980.000000             29980             29980
30087  87750       29980.000000             29980             29980
30088  87751       29980.000000             29980             29980
30089  87752       29980.000000             29980             29980
30090  87753       29980.000000             29980             29980
30091  87754       29980.000000             29980             29980
30092  87755       29980.000000             29980             29980
30093  87756       29980.000000             29980             29980
30094  87757       29980.000000             29980             29980
30095  87758       29980.000000             29980             29980
30096  87759       29980.000000             29980             29980
30097  87760       29980.000000             29980             29980
30098  87761       29980.000000             29980             29980
30099  87762       29980.000000             29980             29980
30100  87763       29980.000000             29980             29980

[30101 rows x 4 columns]

         UID  device_code1count_mean  device_code1count_max  \
0      30000                 14866.0                  14866
1      30001                  7433.5                  14866
2      30002                     1.0                      1
3      30003                     1.0                      1
4      30004                 14866.0                  14866
5      30005                     1.0                      1
6      30006                 14866.0                  14866
7      30007                  7433.5                  14866
8      30008                  4956.0                  14866
9      30009                 14866.0                  14866
10     30010                  7433.5                  14866
11     30011                 14866.0                  14866
12     30012                 14866.0                  14866
13     30013                     1.0                      1
14     30014                     1.0                      1
15     30015                     1.0                      1
16     30016                 14866.0                  14866
17     30017                     1.0                      1
18     30018                     1.0                      1
19     30019                     1.0                      1
20     30020                 14866.0                  14866
21     30021                     1.0                      1
22     30022                 14866.0                  14866
23     30023                 14866.0                  14866
24     30024                     1.0                      1
25     30025                 14866.0                  14866
26     30026                     1.0                      1
27     30027                 14866.0                  14866
28     30028                     1.0                      1
29     30029                     1.0                      1
...      ...                     ...                    ...
30071  87734                 14866.0                  14866
30072  87735                 14866.0                  14866
30073  87736                     1.0                      1
30074  87737                     1.0                      1
30075  87738                 14866.0                  14866
30076  87739                     1.0                      1
30077  87740                 14866.0                  14866
30078  87741                  7433.5                  14866
30079  87742                     1.0                      1
30080  87743                 14866.0                  14866
30081  87744                 14866.0                  14866
30082  87745                     1.0                      1
30083  87746                 14866.0                  14866
30084  87747                     1.0                      1
30085  87748                 14866.0                  14866
30086  87749                     1.0                      1
30087  87750                     1.0                      1
30088  87751                     1.0                      1
30089  87752                     1.0                      1
30090  87753                 14866.0                  14866
30091  87754                 14866.0                  14866
30092  87755                     1.0                      1
30093  87756                 14866.0                  14866
30094  87757                     1.0                      1
30095  87758                     1.0                      1
30096  87759                     1.0                      1
30097  87760                     1.0                      1
30098  87761                     1.0                      1
30099  87762                     1.0                      1
30100  87763                     1.0                      1

       device_code1count_min
0                      14866
1                          1
2                          1
3                          1
4                      14866
5                          1
6                      14866
7                          1
8                          1
9                      14866
10                         1
11                     14866
12                     14866
13                         1
14                         1
15                         1
16                     14866
17                         1
18                         1
19                         1
20                     14866
21                         1
22                     14866
23                     14866
24                         1
25                     14866
26                         1
27                     14866
28                         1
29                         1
...                      ...
30071                  14866
30072                  14866
30073                      1
30074                      1
30075                  14866
30076                      1
30077                  14866
30078                      1
30079                      1
30080                  14866
30081                  14866
30082                      1
30083                  14866
30084                      1
30085                  14866
30086                      1
30087                      1
30088                      1
30089                      1
30090                  14866
30091                  14866
30092                      1
30093                  14866
30094                      1
30095                      1
30096                      1
30097                      1
30098                      1
30099                      1
30100                      1

[30101 rows x 4 columns]
         UID  device_code2count_mean  device_code2count_max  \
0      30000            15446.000000                  15446
1      30001             7723.500000                  15446
2      30002                1.000000                      1
3      30003                1.000000                      1
4      30004            15446.000000                  15446
5      30005                1.000000                      1
6      30006            15446.000000                  15446
7      30007             7723.500000                  15446
8      30008             5149.333333                  15446
9      30009            15446.000000                  15446
10     30010             7723.500000                  15446
11     30011            15446.000000                  15446
12     30012            15446.000000                  15446
13     30013                1.000000                      1
14     30014                1.000000                      1
15     30015                1.000000                      1
16     30016            15446.000000                  15446
17     30017                1.000000                      1
18     30018                1.000000                      1
19     30019                1.000000                      1
20     30020            15446.000000                  15446
21     30021                1.000000                      1
22     30022            15446.000000                  15446
23     30023            15446.000000                  15446
24     30024                1.000000                      1
25     30025            15446.000000                  15446
26     30026                1.000000                      1
27     30027            15446.000000                  15446
28     30028                1.000000                      1
29     30029                1.000000                      1
...      ...                     ...                    ...
30071  87734            15446.000000                  15446
30072  87735            15446.000000                  15446
30073  87736                1.000000                      1
30074  87737                1.000000                      1
30075  87738            15446.000000                  15446
30076  87739                1.000000                      1
30077  87740            15446.000000                  15446
30078  87741             7723.500000                  15446
30079  87742                1.000000                      1
30080  87743            15446.000000                  15446
30081  87744            15446.000000                  15446
30082  87745                1.000000                      1
30083  87746            15446.000000                  15446
30084  87747                1.000000                      1
30085  87748            15446.000000                  15446
30086  87749                1.000000                      1
30087  87750                1.000000                      1
30088  87751                1.000000                      1
30089  87752                1.000000                      1
30090  87753            15446.000000                  15446
30091  87754            15446.000000                  15446
30092  87755                1.000000                      1
30093  87756            15446.000000                  15446
30094  87757                1.000000                      1
30095  87758                1.000000                      1
30096  87759                1.000000                      1
30097  87760                1.000000                      1
30098  87761                1.000000                      1
30099  87762                1.000000                      1
30100  87763                1.000000                      1

       device_code2count_min
0                      15446
1                          1
2                          1
3                          1
4                      15446
5                          1
6                      15446
7                          1
8                          1
9                      15446
10                         1
11                     15446
12                     15446
13                         1
14                         1
15                         1
16                     15446
17                         1
18                         1
19                         1
20                     15446
21                         1
22                     15446
23                     15446
24                         1
25                     15446
26                         1
27                     15446
28                         1
29                         1
...                      ...
30071                  15446
30072                  15446
30073                      1
30074                      1
30075                  15446
30076                      1
30077                  15446
30078                      1
30079                      1
30080                  15446
30081                  15446
30082                      1
30083                  15446
30084                      1
30085                  15446
30086                      1
30087                      1
30088                      1
30089                      1
30090                  15446
30091                  15446
30092                      1
30093                  15446
30094                      1
30095                      1
30096                      1
30097                      1
30098                      1
30099                      1
30100                      1

[30101 rows x 4 columns]
         UID  device_code3count_mean  device_code3count_max  \
0      30000                1.000000                      1
1      30001            25784.000000                  25784
2      30002            25784.000000                  25784
3      30003            25784.000000                  25784
4      30004            25784.000000                  25784
5      30005            25784.000000                  25784
6      30006            25784.000000                  25784
7      30007            25784.000000                  25784
8      30008            25784.000000                  25784
9      30009            25784.000000                  25784
10     30010            25784.000000                  25784
11     30011            25784.000000                  25784
12     30012            25784.000000                  25784
13     30013            25784.000000                  25784
14     30014            25784.000000                  25784
15     30015            25784.000000                  25784
16     30016            25784.000000                  25784
17     30017            25784.000000                  25784
18     30018            25784.000000                  25784
19     30019            25784.000000                  25784
20     30020                1.000000                      1
21     30021            25784.000000                  25784
22     30022            25784.000000                  25784
23     30023            25784.000000                  25784
24     30024            25784.000000                  25784
25     30025            25784.000000                  25784
26     30026            25784.000000                  25784
27     30027            25784.000000                  25784
28     30028            25784.000000                  25784
29     30029            25784.000000                  25784
...      ...                     ...                    ...
30071  87734                1.000000                      1
30072  87735                1.000000                      1
30073  87736            25784.000000                  25784
30074  87737            25784.000000                  25784
30075  87738                1.000000                      1
30076  87739            25784.000000                  25784
30077  87740            25784.000000                  25784
30078  87741            13626.500000                  25784
30079  87742            25784.000000                  25784
30080  87743            25784.000000                  25784
30081  87744                1.000000                      1
30082  87745            25784.000000                  25784
30083  87746            12892.500000                  25784
30084  87747            25784.000000                  25784
30085  87748             1469.000000                   1469
30086  87749            25784.000000                  25784
30087  87750            25784.000000                  25784
30088  87751            25784.000000                  25784
30089  87752            25784.000000                  25784
30090  87753                1.000000                      1
30091  87754             8595.333333                  25784
30092  87755            25784.000000                  25784
30093  87756            12892.500000                  25784
30094  87757            25784.000000                  25784
30095  87758            25784.000000                  25784
30096  87759            25784.000000                  25784
30097  87760            25784.000000                  25784
30098  87761            25784.000000                  25784
30099  87762            25784.000000                  25784
30100  87763            25784.000000                  25784

       device_code3count_min
0                          1
1                      25784
2                      25784
3                      25784
4                      25784
5                      25784
6                      25784
7                      25784
8                      25784
9                      25784
10                     25784
11                     25784
12                     25784
13                     25784
14                     25784
15                     25784
16                     25784
17                     25784
18                     25784
19                     25784
20                         1
21                     25784
22                     25784
23                     25784
24                     25784
25                     25784
26                     25784
27                     25784
28                     25784
29                     25784
...                      ...
30071                      1
30072                      1
30073                  25784
30074                  25784
30075                      1
30076                  25784
30077                  25784
30078                   1469
30079                  25784
30080                  25784
30081                      1
30082                  25784
30083                      1
30084                  25784
30085                   1469
30086                  25784
30087                  25784
30088                  25784
30089                  25784
30090                      1
30091                      1
30092                  25784
30093                      1
30094                  25784
30095                  25784
30096                  25784
30097                  25784
30098                  25784
30099                  25784
30100                  25784

[30101 rows x 4 columns]

         UID  mac1count_mean  mac1count_max  mac1count_min
0      30000    14871.000000          14871          14871
1      30001     7436.000000          14871              1
2      30002        1.000000              1              1
3      30003     8012.000000           8012           8012
4      30004    14871.000000          14871          14871
5      30005        1.000000              1              1
6      30006    14871.000000          14871          14871
7      30007    11441.500000          14871           8012
8      30008     4957.666667          14871              1
9      30009    14871.000000          14871          14871
10     30010    11441.500000          14871           8012
11     30011    14871.000000          14871          14871
12     30012    14871.000000          14871          14871
13     30013        1.000000              1              1
14     30014     4006.500000           8012              1
15     30015        1.000000              1              1
16     30016    14871.000000          14871          14871
17     30017        1.000000              1              1
18     30018     8012.000000           8012           8012
19     30019     8012.000000           8012           8012
20     30020    14871.000000          14871          14871
21     30021        1.000000              1              1
22     30022    14871.000000          14871          14871
23     30023    14871.000000          14871          14871
24     30024        1.000000              1              1
25     30025    14871.000000          14871          14871
26     30026     8012.000000           8012           8012
27     30027    14871.000000          14871          14871
28     30028     4006.500000           8012              1
29     30029     8012.000000           8012           8012
...      ...             ...            ...            ...
30071  87734    14871.000000          14871          14871
30072  87735    14871.000000          14871          14871
30073  87736        1.000000              1              1
30074  87737     8012.000000           8012           8012
30075  87738    14871.000000          14871          14871
30076  87739        1.000000              1              1
30077  87740    14871.000000          14871          14871
30078  87741    11441.500000          14871           8012
30079  87742     8012.000000           8012           8012
30080  87743    14871.000000          14871          14871
30081  87744    14871.000000          14871          14871
30082  87745     8012.000000           8012           8012
30083  87746    14871.000000          14871          14871
30084  87747     8012.000000           8012           8012
30085  87748    14871.000000          14871          14871
30086  87749     8012.000000           8012           8012
30087  87750        1.000000              1              1
30088  87751        1.000000              1              1
30089  87752        1.000000              1              1
30090  87753    14871.000000          14871          14871
30091  87754    14871.000000          14871          14871
30092  87755        1.000000              1              1
30093  87756    14871.000000          14871          14871
30094  87757     8012.000000           8012           8012
30095  87758     8012.000000           8012           8012
30096  87759        1.000000              1              1
30097  87760        1.000000              1              1
30098  87761     8012.000000           8012           8012
30099  87762     8012.000000           8012           8012
30100  87763     8012.000000           8012           8012

[30101 rows x 4 columns]
=====OK======
=====OK======
=====OK======
=====OK======
=====OK======

In [43]:
test_fts=test_fts.merge(test_op_fts1,how="left",on="UID")
test_fts=test_fts.merge(test_tr_fts1,how="left",on="UID")
test_fts=test_fts.merge(test_op_fts2,how="left",on="UID")
test_fts=test_fts.merge(test_tr_fts2,how="left",on="UID")
test_fts=test_fts.merge(test_op_fts3,how="left",on="UID")
test_fts=test_fts.merge(test_tr_fts3,how="left",on="UID")
test_fts=test_fts.merge(test_op_fts4,how="left",on="UID")
test_fts=test_fts.merge(test_tr_fts4,how="left",on="UID")
test_fts=test_fts.merge(test_tr_fts5,how="left",on="UID")
test_fts=test_fts.merge(test_tr_fts6,how="left",on="UID")

In [49]:
train_fts.fillna(0,inplace=True)
test_fts.fillna(0,inplace=True)
train_fts=pd.merge(train_fts,train_tag,how="left",on="UID")
train_fts.columns

Index(['UID', 'mode_00094ae2a1d62504', 'mode_072eee5c88d380df',
       'mode_08017d2cb28c2348', 'mode_09080b31b40d57e8',
       'mode_0e72a7851fadf00b', 'mode_12845a3fe90eb1de',
       'mode_148dc2618a3a92a4', 'mode_1c341176507fbd9b',
       'mode_1cbe3d31395984d7',
       ...
       'bal_mean', 'device_code1', 'device_code2', 'device1', 'mac1',
       'geo_code', 'ip1', 'ip1_sub', 'device2', 'Tag'],
      dtype='object', length=440)

In [47]:
from sklearn.model_selection import train_test_split

In [51]:
X=np.array(train_fts.iloc[:,1:-1])
y=np.array(train_fts.iloc[:,-1])
X_train,X_verify,y_train,y_verify=train_test_split(X,y,test_size=0.2,random_state=0)
X_test=np.array(test_fts)

In [52]:
import lightgbm as lgb
train_set=lgb.Dataset(X_train,y_train)
params={'boosting':'gbdt',
        'objective': 'binary',
        'learning_rate': 0.1,
        'max_depth': 6,
        'num_leaves': 31,
        'lambda_l1': 0.1,
        'lambda_l2': 0.2,
        'min_child_weight': 25,
        }
n_rounds=1000
clf=lgb.train(params,train_set,n_rounds)

In [54]:
def tpr_weight_funtion(y_true,y_predict):
    d = pd.DataFrame()
    d['prob'] = list(y_predict)
    d['y'] = list(y_true)
    d = d.sort_values(['prob'], ascending=[0])
    y = d.y
    PosAll = pd.Series(y).value_counts()[1]
    NegAll = pd.Series(y).value_counts()[0]
    pCumsum = d['y'].cumsum()
    nCumsum = np.arange(len(y)) - pCumsum + 1
    pCumsumPer = pCumsum / PosAll
    nCumsumPer = nCumsum / NegAll
    TR1 = pCumsumPer[abs(nCumsumPer-0.001).idxmin()]
    TR2 = pCumsumPer[abs(nCumsumPer-0.005).idxmin()]
    TR3 = pCumsumPer[abs(nCumsumPer-0.01).idxmin()]
    return 0.4 * TR1 + 0.3 * TR2 + 0.3 * TR3

In [55]:
#验证集
y_verify_pre=clf.predict(X_verify)
tpr_weight_funtion(y_verify,y_verify_pre)

0.75362149532710276

In [56]:

train_set_for_test=lgb.Dataset(X,y)
clf_test=lgb.train(params,train_set_for_test,n_rounds)

AttributeError: module 'lightgbm' has no attribute 'predict'

In [57]:
y_submit=clf_test.predict(X_test)

In [59]:
result=pd.concat([test_fts["UID"],pd.Series(y_submit)],axis=1)

In [61]:
result.columns=["UID","Tag"]
result.to_csv(r"D:\DA_competition\DC\data\result.csv",index=False)

In [65]:
train_fts.to_csv(r"D:\DA_competition\DC\data\train_fts.csv",index=False)
test_fts.to_csv(r"D:\DA_competition\DC\data\test_fts.csv",index=False)